.body{
	margin:0;
}
.wth-1887{
	width:1887px;
}
.hght-77{
	height:77px;
}
.wth-1684{
	width:1684px;
}
.hght-5799{
	height:5799px;
}
.bcnd-dark{
	background-color: black;
}
.wth-1043{
	width:1043px;
}
.bcnd-radioctiv{
	background-color:#39ff14;
}
.ml-375{
	margin-left: 375px;
}
.d-flex{
	display: flex;
}
@font-face {
    font-family: rubik; 
    src: url(Rubik.ttf);
   }
.fs-24{
	font-size:24px;
}
.font-family-rubik{
	font-family:rubik ;
}
@font-face{
	font-family: black;
	src:url(blackitalic.ttf);
}
.font-family-black{
	font-family:black ;
}
@font-face{
	font-family: semi;
	src:url(semiitalic.ttf);
}
.font-family-semi{
	font-family: semi;
}
.mt-20{
	margin-top:20px;
}
.fs-70{
	font-size: 70px;
}
.cr-white{
	color:white;
}
.header-txt-space{
	letter-spacing:7%
}
.ml-65{
	margin-left:65px ;
}
.border-btm{
	border-bottom: 2px solid white;
}
.wth-1684{
	width:1684px;
}
.hght-5799{
	height:5799px;
}
.pos-fix{
	position: fixed;
}
.right-5{
	right: 5px;
}
.top-3{
	top: 5px;
}
.logo{
	background-image: url(logo.png);
}
.wth-267{
	width:267px;
}
.hght-147{
	height:147px;
}
.wth-1532{
	width:1532px;
}
.hght-450{
	height:450px;
}
.border-rad-198{
	border-radius: 198px;
}
.ml-75{
	margin-left:75px;
}
.mt-20{
	margin-top: 20px;
}
.dec-none{
	text-decoration: none;
}
.wth-1207{
	width:1207px;
}
.hght-526{
	height:526px;
}
.bcnd-danger{
	background-color: red;
}
.mx-auto{
	margin-left: auto;
	margin-right: auto;
}
.mt-auto{
	margin-top: 200px;
}
.mb-0{
	margin-bottom: 0px;
}
.ml-auto{
	margin-left: auto;
}
.pt-150{
	padding-top: 150px;
}
.fs-96{
	font-size: 96px;
}
.fs-36{
	font-size: 36px;
}
.txt-algn-right{
	text-align: right;
}
.mt-0{
	margin-top: 0px;
}
.pb-250{
	padding-bottom: 250px;
}
.mb-0{
	margin-bottom: 0;
}
.mt-0{
	margin-top: 0px;
}
.fw-bold{
	font-weight: bold;
}
.ff-arial{
	font-family: arial;
}
.wth-982{
	width:982px;
}
.hght-782{
	height:782px;
}
.bcnd-ocean{
	background-color: blue;
}
.mt-260{
	margin-top: 260px;
}
.txt-algn-left{
	text-align: left;
}
.wth-781{
	width:781px;
}
.hght-687{
	height:687px;
}
.wth-745{
	width:745px;
}
.hght-934{
	height:934px;
}
.z-ind2{
	z-index: 2;
}
.pr-30{
	padding-right: 30px;
}
.wth-806{
	width:806px;
}
.hght-691{
	height:691;
}
.pl-30{
	padding-left: 30px;
}
.wth-883{
	width:883px;
}
.hght-759{
	height:759px;
}
.shadow-txt{
	text-shadow: 2px 2px 7px rgba(0, 0, 0, 1);
}
.opacity-0{
	opacity:0;
}
.wth-690{
	width:690px;
}
.hght-550{
	height: 550px;
}
.wth-1532{
	width:1532px;
}
.z-ind0{
	z-index: 0;
}
.hght-862{
	height:862px;
}
.br-118{
	border-radius: 118px;
}
.ml-76{
	margin-left: 76px;
}
.up-0{
	position: absolute;
	up:0px;
}
.mt-140{
	margin-top: 140px;
}
.ml-100{
	margin-left: 100px;
}
.fs-29{
	font-size: 29px;
}
.gray-clr{
	color: #E2E0D0;
}
.ml-150{
	margin-left: 150px;
}
.mt-2{
	margin-top: 2px;
}
.wth-27{
	width:27px;
}
.hght-27{
	height:27px;
}
.ml-2{
	margin-left:5px;
}
.mb-600{
	margin-bottom: 600px;
} 
.mt-3{
	margin-top: 8px;
}
.wth-1685{
	width:1685px;
}
.hght-325{
	height:325px;
}
.bcnd-light{
	background-color: white;
}
.fs-64{
	font-size: 64px;
}
.txt-algn-center{
	text-align: center;
}
.clr-white{
	color: white;
}
.clr-lightgray{
	color:#A2A2A2;
}
.clr-darkgray{
	color:#1C1C1C;
}
.fs-48{
	font-size: 48px;
}
.fs-75{
	font-size: 75px;
}
.wth-1532{
	width:1532px;
}
.hght-921{
	height:921px;
}
.ml-30{
	margin-left: 45px;
}
.wth-253{
	width:253px;
}
.hght-234{
	height:234px;
}
.wth-110{
	width:110px;
}
.hght-120{
	height:120px;
}
.wth-270{
	width:270px;
}
.mt-0{
	margin-top:0px;
}
.hght-712{
	height:712px;
}
.wth-405{
	width:405px;
}
.hght-222{
	height:222px;
}
.wth-272{
	width:272px;
}
.hght-166{
	height:166px;
}
.wth-253{
	width:253px;
}
.hght-234{
	height:234px;
}
.wth-1379{
	width:1379px;
}
.hght-680{
	height:680px;
}
.hght-904{
	height: 904px;
}
.bcnd-expressblur{
	background-image:url(expressblur.jpg);
	background-size: 100% 100%;
}
.ml-220{
	margin-left: 220px;
}
.br-68{
	border-radius: 68px;
}
.wth-890{
	width: 890px;
}
.hght-1000{
	height:1000px;
}
.hght-439{
	height: 439px;
}
.wth-693{
	width:693px;
}
.ml-109{
	margin-left: 109px;
}
.pt-120{
	padding-top: 120px;
}
.hght-560{
	height:560px;
}
.wth-802{
	width:802px;
}
.z-ind1{
	z-index: 1;
}
.op60{
	opacity: 0.60;
}
.br-31{
	border-radius: 31px;
}
.hght-114{
	height:114px;
}
.wth-101{
	width:101px;
}
.wth-592{
	width:592px;
}
.bcnd-fire{
	background-image: url(fire.png);
	background-size: 100% 100%;
	animation: txtmove 1.5s 0s 
}
.bcnd-dark-60op{
	background-color: rgba(0, 0, 0, 0.6);
	animation: txtmove 1.5s 0s 
}
.mt-10{
	margin-top: 10px;
}
.hght-325{
	height:325px;
}
.pt-10{
	padding-top: 10px;
}
.hght-323{
	height:325px;
}
.mb-5{
	margin-bottom: 5px;
}
.z-ind3{
	z-index: 3;
}
.himeko-xy{
	position: relative;
	left:750px;
}
.pos-abs{
	position: absolute;
}
.z-ind4{
	z-index: 4;
}
.pt-20{
	padding-top: 20px;
}
.main-xy{
	top:100px;
}
@keyframes rotate {
	from {
    	transform: rotate(2deg);
	}

	to {
		transform: rotate(2deg);
	}
	50%{
		transform: rotate(-2deg);
	}
}
.bcnd-himekomini{
	background-image: url(himekomini.png);
	background-size: 100% 100%;
	animation-duration:2s;
    animation-iteration-count:infinite;
    animation-name: rotate;
}
.wth-150{
	width:150px;
}
.hght-180{
	height: 180px;
}
.mt-0{
	margin-top: 0px;
}
.mb-20{
	margin-bottom: 20px;
}
.wth-442{
	width:442px;
}
@keyframes movehime{
	from   {left:700px}
	to {left:750px}
}
.bcnd-himeko{
	background-image: url(himeko.webp);
	background-size: 100% 100%;
	animation: movehime 2s 0s ;
}
@keyframes txtmove{
	from {margin-top: 50px; opacity: 0.5}
	to {margin-top: 0px}
}
.animtxt{
	animation: txtmov 1.5s 0s 
}
@keyframes txtmov{
	from {margin-top: 50px; opacity: 0.5}
	to {margin-top: 10px}
}